@import url(./normalize.css);

main #sceine-one {
  /*background-color: #003333;*/
  background: url(../images/webp/pudding.webp);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 60px;
}

main #sceine-two {
  background-color: orangered;
  height: 100vh;
  width: 100vw;
}

main #sceine-three {
  background: url(../images/webp/client.webp);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

main #sceine-four {
  background-color: #0c4d74;
  height: 520vh;
  width: 100vw;
}

main #sceine-five {
  background-color: #440ea7;
  height: 120vh;
  width: 100vw;
}

nav {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  background: linear-gradient(40deg, rgb(145, 124, 7), rgb(0, 0, 0));
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  padding-top: 10px;
}

main {
  position: absolute;
  top: 0;
  left: -1px;
  right: 0;
  bottom: 0;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  align-items: center;
  padding-left: -10px;
}

nav ul li {
  color: white;
  margin: auto 5px;
  text-decoration: none;
  opacity: 0.75;
  text-decoration: none;
  margin: auto 5px;
  border-bottom: 3px solid transparent;
}

nav ul li:hover {
  border-bottom: 3px solid white;
  transition-duration: 0.2s;
  opacity: 1;
  margin-bottom: -3px;
}

nav ul a {
  text-decoration: none;
}

nav ul #menu {
  color: white;
  text-shadow: 3px 3px 10px black;
  display: none;
}

.sceine-four .how-to {
  display: flex;
}

#sceine-one {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#sceine-one #welcome {
  color: wheat;
}

#sceine-one #welcome h1 {
  font-size: 2.5rem;
  background-color: white;
  color: black;
  text-shadow: 4px 4px 16px black;
  border-radius: 10px;
}

#sceine-one #welcome p {
  font-size: 1.5rem;
  background-color: darkgray;
  text-shadow: 4px 4px 16px black;
  opacity: 0.75;
}

#sceine-one #welcome h1 span {
  color: #c5914c;
  font-weight: bolder;
}

#sceine-one img {
  transition-duration: 0.2s;
  border-radius: 70%;
  border: 5px solid orangered;
}

#sceine-one img:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  opacity: 0.75;
}

main section {
  padding-top: 60px;
}

main section h2 {
  display: block;
  margin-left: 70px;
  font-size: 2.1rem;
}

.container {
  display: flex;
  padding: 40px;
}
.container .cont-img {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.container .cont-img #img-shw img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 50%;
  height: 55%;
  object-fit: cover;
  border-radius: 15%;
}

.container .cont-img #img-shw {
  position: relative;
}

.container .cont-img #img-shw #img-two {
  position: absolute;
  right: 5%;
  top: 5%;
}
.container .cont-img #img-shw #img-three {
  position: absolute;
  right: 40%;
  top: 20%;
}

#sceine-three .container #cont-svg,
#sceine-three .container .cont-txt {
  background-color: whitesmoke;
  opacity: 0.65;
}

.bar:hover {
  fill: brown;
  cursor: pointer;
}

main section {
  position: relative;
  left: 0;
  right: 0;
}

nav {
  right: 0;
}
section h2 {
  color: white;
}

.cont-txt {
  font-size: 2.2rem;
  width: 50%;
  line-height: 5.3rem;
  color: rgb(20, 20, 57);
}

#cont-svg {
  padding-left: 90px;
}

text {
  font-weight: bolder;
  fill: navy;
}
#sceine-four img {
  width: auto;
  height: 90%;
  border-radius: 20px;
}

#sceine-four .img-cnt {
  width: auto;
  padding: 2%;
  height: auto;
  background-color: orange;
  border-radius: 50%;
  opacity: 1;
}

#sceine-four .img-cnt:hover {
  animation-name: but-bck;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.cntr {
  font-size: 10rem !important;
  text-align: center;
  opacity: 0.5;
  margin-bottom: -5%;
}

@keyframes but-bck {
  0% {
    background-color: orange;
  }

  10% {
    background-color: #08a0a0;
  }

  20% {
    background-color: rgb(22, 170, 22);
  }

  30% {
    background-color: rgb(230, 91, 49);
  }

  40% {
    background-color: white;
  }

  50% {
    background-color: rgb(53, 53, 218);
  }

  60% {
    background-color: magenta;
  }

  70% {
    background-color: #53348d;
  }

  80% {
    background-color: yellow;
  }

  90% {
    background-color: brown;
  }
}

#sceine-four #step-one,
#sceine-four .step-two,
#sceine-four .step-three,
#sceine-four .step-four,
#sceine-four .step-five {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

#step-one,
.step-three,
.step-five {
  flex-direction: row;
}

.step-two,
.step-four {
  flex-direction: row-reverse;
}

#sceine-three .cont-txt span {
  font-weight: bolder;
}
/*
        .how-to {
            display: grid;
            column-gap: 50px;
            row-gap: 5px;
            grid-template-columns: 20% .5fr .5fr;
            margin-top: -70px;
            padding: 10px;
        }

        #sceine-four h2 {
            position: relative;
            top: -30px;
        }

        .how-to .step-one {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: center;
        }

        .how-to .step-four {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .how-to .step-five {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 4;
        }

        .how-to .step-one, .how-to .step-five {
            padding: 40px;
        }
        */

#sceine-four div p {
  color: #ccc88f;
  font-size: 1.5rem;
}

#sceine-four div a {
  color: greenyellow;
  text-decoration: none;
  margin-left: 50px;
  font-size: 1.2rem;
}

#sceine-four div a:hover {
  color: yellow;
  font-size: 1.25rem;
  transition-duration: 0.3s;
}

.bang {
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}

#sceine-five div p span {
  font-size: 1.6rem;
  font-weight: bolder;
}

#sceine-five div ul li {
  font-size: 1.2rem;
}

#sceine-five .org {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px;
  color: rgb(178, 227, 214);
}

#sceine-five .org ul {
  color: #e1d2bf;
}

.org #slogan,
.org #school {
  align-self: flex-end;
  margin-right: 60px;
}

.fa-heart {
  color: red;
}

@media (width < 1000px) {
  nav {
    height: 5rem;
    overflow: hidden;
    display: block;
    transition: height 0.5s;
  }

  .show {
    height: auto;
  }

  .hide {
    height: 5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }

  nav ul div a li {
    font-size: 3em;
    margin: 0.5rem auto;
    border-bottom: 5px solid white;
  }

  nav ul #menu {
    display: inline-block;
  }

  nav ul #menu i {
    font-size: 3.5rem;
  }

  main #sceine-one #welcome h1 {
    font-size: 5em;
    text-align: center;
    background-color: lightgray;
    color: #998f06;
    text-shadow: 2px 2px 6px black;
  }

  main #sceine-one #welcome h1 span {
    color: rgb(206, 151, 11);
    font-weight: 5em;
    font-size: 2em;
  }

  main #sceine-one #welcome p {
    font-size: 3em;
    color: rgb(3, 21, 59);
    margin-left: 5%;
    margin-top: 20%;
  }

  main #sceine-two h2,
  main #sceine-three h2,
  main #sceine-four h2,
  main #sceine-five h2 {
    font-size: 6em;
  }

  main #sceine-two p,
  main #sceine-three p {
    font-size: 2em;
    line-height: 2em;
  }

  main #sceine-four .how-to #step-one,
  main #sceine-four .how-to .step-two,
  main #sceine-four .how-to .step-three,
  main #sceine-four .how-to .step-four,
  main #sceine-four .how-to .step-five {
    flex-direction: column;
    justify-self: center;
  }

  main #sceine-four .how-to #step-one .img-cnt,
  main #sceine-four .how-to .step-two .img-cnt,
  main #sceine-four .how-to .step-three .img-cnt,
  main #sceine-four .how-to .step-four .img-cnt,
  main #sceine-four .how-to .step-five .img-cnt {
    height: 50%;
  }

  main #sceine-four .how-to #step-one .img-cnt,
  main #sceine-four .how-to #step-one .img-cnt img {
    margin-left: 25%;
  }

  main #sceine-four .how-to .step-two .img-cnt,
  img {
    margin-left: 25%;
  }

  main #sceine-four .txt-cnt {
    margin: auto 2.5em;
  }

  main #sceine-four .how-to #step-one .txt-cnt {
    margin-top: -20%;
  }

  main #sceine-four .how-to #step-one .txt-cnt .cntr {
    font-size: 20em !important;
    padding-top: -10%;
  }

  main #sceine-four .how-to .step-four .txt-cnt .bang {
    font-size: 1em;
  }

  main #sceine-four .txt-cnt p,
  main #sceine-four .txt-cnt a {
    font-size: 5em;
  }

  main #sceine-five .org div p span {
    font-size: 5em;
  }

  main #sceine-five .org ul li {
    font-size: 3em;
    line-height: 1.5em;
  }

  main #sceine-five #slogan,
  main #sceine-five #school {
    font-size: 2em;
  }

  main #sceine-one,
  main #sceine-two,
  main #sceine-three,
  main #sceine-four {
    background-color: rgb(255, 145, 0) !important;
  }

  #sceine-one img {
    display: none;
  }

  #sceine-two .cont-img {
    display: none;
  }

  #sceine-two .cont-txt {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #sceine-three {
    height: 100vh !important;
  }

  #sceine-three .container {
    display: flex;
    flex-direction: column-reverse;
  }

  #sceine-three .container #cont-svg {
    display: none;
  }

  #sceine-three .container .cont-txt,
  #sceine-three .container .cont-img {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
}
