@import url(./normalize.css);
main {
  font-family: 'Kanit', sans-serif;
}

main h1 {
  font-size: larger;
  font-weight: bolder;
  padding-left: 10px;
  position: relative;
}
main .restaurants h2 {
  font-size: large;
  padding-left: 30px;
  font-weight: bold;
}

a[href='/logout'] span .fa-power-off {
  color: white !important;
  margin-right: 1rem;
}

main .restaurants .restaurant .restr-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .restaurant .description {
  font-size: medium;
  padding-right: 40px;
  text-align: justify;
  width: auto;
}

main .restaurant .img-restr {
  width: 500px;
  height: auto;
  margin-left: 40px;
  border-radius: 18px;
  margin-top: 20px;
  box-shadow: 5px 5px 15px 1px black;
}

.star-rate i {
  transition-duration: 0.3s;
}

.star-rate .fa-star {
  color: gray;
}

.star-rate .fa-star:hover {
  transition: 0.3s;
}

.leave-comment input {
  /*    animation-name: comment;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    padding: 0; 
    margin: 0;
    border: 0;
    border-radius: 0 15px 15px 15px;
    */
  background-color: #fdf7eb;
  border: 2px solid #f8d796;
  border-radius: 5px;
  box-shadow: gray 2px 2px 4px 3px;
  height: 100px;
  width: 80%;
}

.leave-comment {
  margin-left: 40px;
}

.leave-comment input:focus {
  border: 5px solid #ea9e07;
}

::placeholder {
  padding-left: 40px;
  color: black;
}

.btn-outline-primary {
  visibility: hidden;
}

.star-rate {
  margin-left: 60px;
  margin-top: 20px;
}

.price-food {
  z-index: 2;
  margin-left: -100px;
  font-weight: bolder;
  font-size: larger;
  border: 3px solid #f8d796;
  border-radius: 50%;
  padding: 15px;
  background-color: #e98e1f;
  color: #ddecec;
}

.price-food:hover {
  background-color: #faecd1;
  color: #e98e1f;
  border: 3px solid orange;
}

#img-prc {
  display: flex;
  align-items: flex-start;
}

#img-prc:hover {
  opacity: 80%;
  transition-duration: 0.5s;
}

.food-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rest-add {
  margin-right: 60px;
}

.rest-add .rest-cont,
.rest-add .rest-loca {
  margin: 15px 5px;
}

.rest-add .rest-cont .fa-copy:hover,
.rest-add .rest-loca .fa-copy:hover {
  color: rgb(235, 94, 43);
}

.star-rate-noedit:hover {
  color: rgb(247, 88, 14);
  transform: scale(1.05);
  transition-duration: 0.2s;
}

#alert-user {
  height: 10px !important;
}

.alert-danger,
.alert-success {
  box-shadow: black 2px 2px 5px 2px;
}

@keyframes comment {
  1% {
    width: 0%;
    height: 0px;
    background-color: white;
    margin-left: 0px;
    border: 3px solid black;
    display: block;
  }

  50% {
    width: 60%;
    height: 70px;
    background-color: rgba(238, 186, 95, 0.455);
    margin-left: 60px;
  }

  100% {
    width: 80%;
    height: 100px;
    margin-left: 80px;
    background-color: rgba(238, 185, 95, 0.725);
    color: white;
    padding-left: 40px;
  }
}

/* For rating Card */
.rating-card {
  background: orange;
  height: 70%;
  width: 15%;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: auto;
}

.rating-card h3 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

.rating-card p {
  font-size: 1.5rem;
}

.rating-card h3,
.rating-card p {
  color: white;
}

#danger-btn {
  background-color: darkred;
  color: whitesmoke;
  border-radius: 10px;
  border: 3px solid navajowhite;
}

#danger-btn:hover {
  box-shadow: 0 0 15px 5px darkred;
}

/* For rating Graph */
.rating-graph {
  width: 70%;
  padding-top: 1rem;
}

.rating-graph {
  display: grid;
  grid-template-columns: 0.5fr 90% 0.5fr;
  grid-template-rows: repeat(5, auto);
  column-gap: 1.5rem;
  row-gap: 0.2rem;
}

.grph-img {
  width: auto;
  height: 15px;
  background: rgba(211, 211, 211, 0.856);
  border-radius: 10px;
  margin-top: 0.2rem;
}

.grph-fill {
  height: 100%;
  background-color: rgba(255, 166, 0, 0.89);
  border-radius: 20px;
}

.grph-txt {
  font-weight: bold;
}

/* For the review overview*/

.review-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
  box-shadow: 0 0 15px 5px lightgray;
  height: 25rem;
}

.review-overview section {
  width: 70%;
}

/*commenting se3ction */

.user-comment-read {
  box-shadow: 0 0 15px 5px lightgray;
  padding: 1rem;
  width: 60%;
  margin: 3rem;
}

#read-cmt {
  text-transform: uppercase;
  margin: auto 6rem;
  padding-top: 10rem;
  display: inline-block;
  font-weight: bold;
  text-shadow: 0 0 15px 5px darkgray;
}

.usr-comment {
  padding-left: 6rem;
}

.leave-comment {
  background-color: rgba(228, 228, 228, 0.541);
  width: 90%;
  border-radius: 50px;
  padding: 2rem;
}

.this-usr-comment {
  display: inline-block;
  background-color: white;
  font-weight: bold;
  font-size: large;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.user-profile-pic {
  background-color: darkred;
  color: white;
  border-radius: 25px;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  margin-right: 2rem;
  letter-spacing: 1px;
}

.options span {
  margin: 1rem;
}

.options span:first-of-type {
  color: goldenrod;
}
.user-name {
  letter-spacing: 1px;
}

.user-name::after {
  content: ' -';
}

.cmt-date {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.user-comment-read > div {
  display: flex;
  justify-content: space-between;
}

.user-comment-read div p {
  padding-left: 3rem;
  line-height: 1.5;
  overflow: auto;
  color: rgb(107, 106, 106);
}

.love-cmt,
.share-cmt {
  margin: auto 1.5rem;
}

.love-cmt + span {
  font-size: small;
}
