<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Foods</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/images/mini-icon-2.png" />
    <link rel="stylesheet" href="../static/styles/food.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/nav.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/7d3bc7f2d4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="../static/scripts/food.js"></script>
    <script src="../static/scripts/nav.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <div id="nav-menu">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <ul>
          <div class="logo"></div>
          <li id="go-back">Go back</li>
          <li><a href="/#sceine-five">Contact</a></li>
          <li><a href="/#sceine-four">Help</a></li>
        </ul>

        <div class="user-ctl">
          <span>
            <input type="hidden" data-user-id="{{user_id}}" />
            <i class="fa-regular fa-user"></i>
            <span>{{user_name}}</span>
          </span>
          <a href="/logout"
            ><span><i class="fa-solid fa-power-off"></i>Log-out</span></a
          >
        </div>
      </nav>
    </header>

    <!--Main element for the page-->
    <main>
      <div class="break head-line"></div>
      <h1>
        <i class="fa-solid fa-bell-concierge"></i> &nbsp {{restaurant_name}}
        FOODS
      </h1>
      <br />
      <div class="hr-line"></div>

      <!-- Listing foods begins from here-->
      <div class="restaurants">
        <!--Loop this with flask -->
        {% for food in foods%}
        <a href="/reviews?food_id={{food.id}}&restaurant_id={{restaurant_id}}">
          <section class="restaurant">
            <div class="food-header">
              <h2>
                {{food.name}} &nbsp &nbsp
                <i class="fa-solid fa-utensils"></i> &nbsp;
                <div class="star-rate">
                  <i class="fa-solid fa-star" id="1"></i>
                  <i class="fa-solid fa-star" id="2"></i>
                  <i class="fa-solid fa-star" id="3"></i>
                  <i class="fa-solid fa-star" id="4"></i>
                  <i class="fa-solid fa-star" id="5"></i> &nbsp;
                  <span class="star-val">{{food_rate_list[foods.index(food)]}}</span>
                </div>
              </h2>
              <span class="price-food"
                ><sup><i class="fa-sharp fa-solid fa-dollar-sign"></i></sup> &nbsp;
                {{food.price}}</span
              >
            </div>
            <div class="restr-descr">
              <article>
                <p class="description">{{food.description}}</p>
              </article>
              <div>
                <img
                  class="img-restr"
                  src="./static/images/uploads/{{food.image}}"
                  alt="Restaurant Image"
                />
              </div>
            </div>
            <div class="hr-line"></div>
          </section>
        </a>
        <!---------------->
        {% endfor %}
      </div>
    </main>

    <footer>
      <address>
        <span id="green">A</span>ddis<span id="yellow">R</span>evie<span
          id="red"
          >W</span
        >
      </address>
    </footer>
  </body>
</html>
