<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Review</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/images/mini-icon-2.png" />
    <link rel="stylesheet" href="../static/styles/nav.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/review.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7d3bc7f2d4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/scripts/rate.js"></script>
    <script src="../static/scripts/review.js"></script>
  </head>

  <!-- Test for the restaurant html page-->

  <body>
    <header>
      <nav>
        <ul>
          <div class="logo"></div>
          <li id="go-back">Go back</li>
          <li><a href="/restaurants">Restaurants</a></li>
          <li><a href="/#sceine-four">Help</a></li>
        </ul>

        <!-------------------->
        <div id="alert-user"></div>
        <!--Review and Rate status shower-->
        <div id="user-ctl">
          <span>
            <input
              type="hidden"
              data-user-id="{{user_id}}"
              data-food-id="{{food.id}}"
              data-review-id=""
            />
            <i class="fa-regular fa-user"></i> &nbsp;
            <span>{{user_name.capitalize()}} &nbsp; &nbsp;</span>
          </span>
          <a href="/logout"
            ><span><i class="fa-solid fa-power-off"></i>Log-out</span></a
          >
        </div>
      </nav>
    </header>

    <!--Main element for the page-->
    <main>
      <div class="break head-line"></div>

      <div id="alert-user"></div>

      <h1>
        <i class="fa-solid fa-bell-concierge"></i> &nbsp {{restaurant.name}}
        FOODS
      </h1>
      <br />
      <div class="hr-line"></div>

      <!-- Selected food goues here-->
      <div class="restaurants">
        <section class="restaurant">
          <h2>
            {{food.name}} &nbsp &nbsp
            <i class="fa-solid fa-utensils"></i> &nbsp;
          </h2>
          <div class="food-spec">
            <div id="img-prc">
              <img
                class="img-restr"
                src="../static/images/uploads/{{food.image}}"
                alt="Restaurant Image"
              />
              <span class="price-food"
                ><sup><i class="fa-sharp fa-regular fa-dollar-sign"></i></sup>
                &nbsp; {{food.price}}</span
              >
              <div class="star-rate-noedit">
                <i class="fa-regular fa-star" id="1"></i>
                <i class="fa-regular fa-star" id="2"></i>
                <i class="fa-regular fa-star" id="3"></i>
                <i class="fa-regular fa-star" id="4"></i>
                <i class="fa-regular fa-star" id="5"></i> &nbsp;
                <span class="star-val-noedit">{{food_rate}}</span>
              </div>
            </div>
            <div class="rest-add">
              <div class="rest-cont">
                <i class="fa-solid fa-phone"></i>&nbsp;
                <span>{{restaurant.contact}}</span> &nbsp;
                <i
                  class="fa-regular fa-copy"
                  data-toggle="tooltip"
                  title="click here to copy to the clipboard"
                ></i>
              </div>
              <div class="rest-loca">
                <i class="fa-solid fa-location-dot"></i>&nbsp;
                <span>{{restaurant.address}}</span> &nbsp;
                <i
                  class="fa-regular fa-copy"
                  data-toggle="tooltip"
                  title="click here to copy to the clipboard"
                ></i>
              </div>
            </div>
            <div></div>
          </div>
          <div class="restr-descr">
            <article>
              <p class="description">{{food.description}}</p>
            </article>
          </div>
          <div class="hr-line"></div>
        </section>

        <!--Overview of the rating -->
        <div class="review-overview">
          <div class="rating-card">
            <h3>{{food_rate}}</h3>
            <p>out of 5</p>
          </div>
          <section>
            <div class="rating-graph">
              <div class="grph-txt">Excellent</div>
              <div class="grph-img">
                <div
                  class="grph-fill"
                  style="width: {{ (rate_list[5] / rate_count) * 100 }}%"
                ></div>
              </div>
              <div class="grph-score">{{ rate_list[5] }}</div>

              <div class="grph-txt">Good</div>
              <div class="grph-img">
                <div
                  class="grph-fill"
                  style="width: {{ (rate_list[4] / rate_count) * 100 }}%"
                ></div>
              </div>
              <div class="grph-score">{{ rate_list[4] }}</div>

              <div class="grph-txt">Average</div>
              <div class="grph-img">
                <div
                  class="grph-fill"
                  style="width: {{ (rate_list[3] / rate_count) * 100 }}%"
                ></div>
              </div>
              <div class="grph-score">{{ rate_list[3] }}</div>

              <div class="grph-txt">Poor</div>
              <div class="grph-img">
                <div
                  class="grph-fill"
                  style="width: {{ (rate_list[2] / rate_count) * 100 }}%"
                ></div>
              </div>
              <div class="grph-score">{{ rate_list[2] }}</div>
              <div class="grph-txt">Terrible</div>
              <div class="grph-img">
                <div
                  class="grph-fill"
                  style="width: {{ (rate_list[1] / rate_count) * 100 }}%"
                ></div>
              </div>
              <div class="grph-score">{{ rate_list[1] }}</div>
            </div>
          </section>
        </div>

        <!--User commenting and rating section-->
        <section class="leave-comment">
          <div class="star-rate">
            Rate &nbsp;
            <i class="fa-solid fa-star" id="1"></i>
            <i class="fa-solid fa-star" id="2"></i>
            <i class="fa-solid fa-star" id="3"></i>
            <i class="fa-solid fa-star" id="4"></i>
            <i class="fa-solid fa-star" id="5"></i> &nbsp;
            <span class="star-val"></span>
            <button type="button" class="btn btn-dark">RESET</button>
            <span id="loading-star"></span>
          </div>
          <button type="button" class="btn btn-link">
            Click here to leave a comment ...
          </button>
          <br />
          <input
            type="text"
            placeholder="Write your comment .."
            id="input"
            tabindex="0"
          />
          <button type="submit" id="post-cmt" class="btn btn-outline-primary">
            Post
          </button>
          <span id="loading-cmt"></span>
          <!-- Hover effect data-toggle="tooltip" title="Hooray!"-->
          <div class="usr-comment">
            <span id="cmt-hd">Your comment: &nbsp;</span>
            <span class="this-usr-comment"></span>
            <button
              type="button"
              class="btn btn-outline-success"
              id="edit"
            ></button>
            <button
              type="button"
              class="btn btn-outline-danger"
              id="delete"
            ></button>
            <button type="button" id="danger-btn">
              <i class="fa-solid fa-triangle-exclamation"></i>RESET ALL
            </button>
            <span id="loading-dlt"></span>
          </div>
        </section>

        <section class="read-comment">
          <span id="read-cmt">Read other user comments</span>
          <hr />
          <div id="scr-cmt">
            <div class="others-comment">
              <!---->
              {% for review in reviews%}
              <div class="user-comment-read comment-writer">
                <div>
                  <div class="user-info">
                    <div class="user-profile-pic">
                      {{review.user.first_name[:1].upper()}}
                    </div>
                    <span class="user-name"
                      >{{review.user.first_name.capitalize()}}</span
                    >
                    <span class="cmt-date"
                      >{{review.updated_on.strftime("%d")}}
                      {{review.updated_on.strftime("%b")}}</span
                    >
                  </div>
                  <div class="options">
                    <span
                      ><i class="fa-solid fa-shield-heart"></i>
                      {{review.rate}}</span
                    >
                    <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                  </div>
                </div>
                <div class="user-comment-txt">
                  <p>{{review.text}}</p>
                </div>
                <hr />
                <div class="user-ux">
                  <div>
                    <span class="love-cmt"
                      ><i class="fa-solid fa-thumbs-up"></i
                    ></span>
                    <span>REPLY</span>
                  </div>
                  <span class="share-cmt"
                    ><i class="fa-solid fa-share-nodes"></i
                  ></span>
                </div>
              </div>
              {% endfor%}
            </div>
          </div>
          <hr />
        </section>
      </div>
    </main>

    <footer>
      <address>
        <span id="green">A</span>ddis<span id="yellow">R</span>evie<span
          id="red"
          >W</span
        >
      </address>
    </footer>
  </body>
</html>
